## Coding Style

- Use modern Java features like var, records, and switch expressions.
- Use multiline strings rather than concatenation.
- Use Mockito for tests.

WRONG: String s = "a";
RIGHT: var s = "a";